/* body start */
body{
    margin: 0;
}
.resume{
    width: 100%;
    display: flex;
}
/* body end */

/* sidebar start */
.sidebar__left{
    background-color: #323B4C;
    margin-top: 0px ;
        width: 32%;
          height: 1400px; 
          border-top-right-radius: 2%;
          border-bottom-right-radius: 2%;    
          box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
      }

.header__left_photo{
        margin: 10% 0 -5% 8%;
        width: 220px;
        height: auto;
        animation: fade-up-left 1s ease-in-out;
    }
@keyframes fade-up-left {
        from {
          opacity: 0;
           transform: translateX(10px); 
        }
        to {
          opacity: 1;
        }
      }
      
.header__left_name{
    font-weight: 700;
  font-size: 30px;
  text-transform: uppercase;
  margin: 10% 0 1% 8%;
  color: white;
  animation: fade-up-left 1s ease-in-out;
}
@keyframes fade-up-left {
    from {
      opacity: 0;
       transform: translateX(10px); 
    }
    to {
      opacity: 1;
    }
  }

.header__left_ocp{
    font-weight: 700;
  font-size: 25px;    
  margin: 1% 0 -5% 8%;
 color: white;
 animation: fade-up-left 1s ease-in-out;
}
@keyframes fade-up-left {
    from {
      opacity: 0;
       transform: translateX(10px); 
    }
    to {
      opacity: 1;
    }
  }

/* navigation bar start*/
.navbar__list{
    display: flex;
    flex-direction: column;
    font-size: 26px;
    color: white;
    margin-top: 20%;
    padding-left: 8%;
    width: 100%;
    list-style-type: none;
    text-decoration: none   ;
    animation: fade-up-left 1s ease-in-out;
}
@keyframes fade-up-left {
    from {
      opacity: 0;
       transform: translateX(10px); 
    }
    to {
      opacity: 1;
    }
  }

.navbar__item{
    text-decoration: none;
    
}
.navbar__item:hover{
    color: white;
}
.navbar__item:link{
    color: white;
}
a:visited{
    color:rgb(240, 38, 38);
}

/* navigation bar end*/
/* sidebar end */

/* content start */
.content__right{
    width: 68%;
    background: white;
    padding-left: 3%;
    margin-left: 5%;
    margin-top: 1%;
 }

 
.content__right_title{
    font-size: 25px;
    text-transform: uppercase;
    color: #323B4C;
    margin-top: 8%;
    margin-bottom: 5%;
    width: 600px;
    font-weight: bold;
    text-decoration: underline;
    text-decoration-thickness: 2px;
    text-underline-offset: 10px;

}
  
.right__volunteer_info{
  
  color: #323B4C;
  margin: 0;
  font-size: 20px;
  width: auto;

}
.volunteer__list{
    list-style-type: none;
    margin: 5% 0px;  
    margin-left: -4%;
}
/* footer start */
#footer__title_skill{
    font-size: 25px;
    text-transform: uppercase;
    color: #323B4C;
    margin-top: 12%;
    margin-bottom: 6%;
    width: 600px;
    font-weight: bold;
    text-decoration: underline;
    text-decoration-thickness: 2px;
    text-underline-offset: 10px;
}
.footer__list_skill{
    margin-top: -4%; 
    column-count: 2 ;

    
}
.footer__item_skill{
font-size: 20px;
    color: #323B4C;
    margin-left: -2%;
}
#footer__title_hobby{
    font-size: 25px;
    text-transform: uppercase;
    color: #323B4C;
    margin-top: 10%;
    margin-bottom: 6%;
    width: 600px;
    font-weight: bold;
    text-decoration: underline;
    text-decoration-thickness: 2px;
    text-underline-offset: 10px;
}
.footer__list_hobby{
    margin-top: -4%; 
    column-count: 2 ;
    
}
.footer__item_hobby {
font-size: 20px;
    color: #323B4C;
    margin-left: -2%;
}
/* footer end */
/* content end */
